
/* navbar-start */
*{
    margin: 0;
    padding: 0;
}


.custom{
    background: #F9F9F9;

}
.btn-custom{
   
    width: 150px;
height: 50px;
top: 87px;
left: 1178px;
border-radius: 5.95px;
background: #75BF7A;

}
.btn-custom:hover{
    background: #75BF7A;
    color: #75BF7A;
}

/* body-1-start */
.custom-h1{
    width: 557px;
height: 198px;
top: 337px;
left: 80px;
font-family:" Gilroy";
line-height: 65.91px;
text-align: left;

}
.custom-img{
    height: 450px;
}
.custom-p{
    font-family: "Gilroy";
font-size: 24px;
font-weight: 500;
/* line-height: 28px; */
line-height: 38px;
text-align: left;
color: #9E9DA2;
}
.btn-custom-1{
    width: 210px;
height: 50px;
top: 744px;
left: 80px;
border-radius: 5px;
background-color: black;
color: white;

}
.btn-custom-b{
    width: 210px;
    height: 50px;
top: 744px;
left: 370px;
border-radius: 5px;
background-color: black;
color: white;

}
.btn-custom-1:hover{
    background-color: black;
color: white;
}
.btn-custom-b:hover{
    background-color: black;
color: white;
}

/* body-2-start */
.custom-bg{
    background-color: #F9F9F9;
}
.col-custum {
    background-color: #75BF7A;
    height: 120px;
}
.custom-p1{
    margin-top: -30px;
    margin-right: 100px;
}
.custom-input{
    margin-left: -30px;
    margin-top: -30px;
    color:#DADADA;
}
.custom-btn-inp{
    margin-top: -30px;
    margin-left: 20px;
}
.input-group{
    margin-right:-100px ;
}

/* body-3 */
span{
    color: #75BF7A;
}
.custom-p2{
    color: #9E9DA2;
   
font-size: 23px;
font-weight: 500;
line-height: 26px;
text-align: center;

}
.custom-co{
    color: #9E9DA2;
}



/* completed */
